@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Removing scrollers for number fields in Mozilla and WebKit */
  .field-number input {
    -moz-appearance: textfield;
  }

  .field-number input::-webkit-outer-spin-button,
  .field-number input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .field-tags-wrapper-collapse,
  .field-tags-wrapper-expand,
  .field-tags-wrapper {
    @apply inline-block p-1 mt-1 mr-1 text-xs bg-gray-200 text-gray-600 rounded border;
  }

  .field-tags-wrapper-collapse,
  .field-tags-wrapper-expand {
    @apply cursor-pointer font-bold;
  }

  .fields-tags-close-icon {
    @apply inline-block ml-1 hover:text-red-800 cursor-pointer;
  }

  .base-dialog-body {
    @apply flex-1 p-2;
  }

  .overlay-container {
    @apply absolute pointer-events-auto;
  }
}

body, html, #app {
  @apply h-full w-full;
}

#app {
  @apply relative flex flex-col items-stretch w-full h-full text-base;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#overlayManager {
  @apply absolute top-0 left-0 contents pointer-events-none z-10;
  contain: layout;
}
