@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Removing scrollers for number fields in Mozilla and WebKit */
  .field-number input {
    -moz-appearance: textfield;
  }

  .field-number input::-webkit-outer-spin-button,
  .field-number input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .field-tags-wrapper-collapse,
  .field-tags-wrapper-expand,
  .field-tags-wrapper {
    @apply inline-block p-1 mt-1 mr-1 text-xs bg-gray-200 text-gray-600 rounded border;
  }

  .field-tags-wrapper-collapse,
  .field-tags-wrapper-expand {
    @apply cursor-pointer font-bold;
  }

  .fields-tags-close-icon {
    @apply inline-block ml-1 hover:text-red-800 cursor-pointer;
  }
}

body, html {
  @apply h-full w-full;
}

#overlayManager {
  @apply absolute top-0 left-0 contents pointer-events-none;
  contain: layout;
}
